.alternative {
  margin: 1rem auto;
  border: 0.5rem solid var(--primary-color);
  border-radius: 0.5rem;
}

.alternative .alternative-header {
  padding: 0.2rem 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alternative .alternative-header h3 {
  width: 50%;
  font-size: 1.4rem;
  font-weight: bold;
}

.alternative .alternative-header button {
  width: 25%;
  border: 0.2rem solid var(--secondary-color);
}

.alternative-group,
.group {
  padding: 1rem;
}

.alternative-group {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

@media only screen and (max-width: 900px) {
  .alternative .alternative-header {
    padding: 0.5rem;
  }

  .alternative-group {
    display: block;
  }

  .alternative .alternative-header button {
    width: 40%;
    margin-bottom: 0;
  }
}
