div.pendent-search-content {
  width: 50%;
  margin: 0 auto 0 1rem;
  padding: 0.5rem;
}

div.pendent-search-content button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0.2rem solid var(--text-secondary-color);
}

div.pendent-search-content button:hover {
  background-color: var(--text-secondary-color);
  color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
}
