.participant-item {
  width: 45% !important;
  background-color: var(--secondary-color);
  border: 0.15rem solid var(--primary-color);
  border-radius: 0.8rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
}

.participant-item header {
  width: 100%;
  background-color: var(--primary-color);
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.participant-item header img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.participant-item header .description {
  text-align: left;
  color: var(--secondary-color);
}

.participant-item header .description h2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.participant-item header .description p {
  font-weight: normal;
  opacity: 0.8;
  font-size: 0.8rem;
}

.participant-item .content {
  display: flex;
}

.participant-item .content .participant-info {
  padding: 0.5rem;
  text-align: left;
  width: 70%;
}

.participant-item .content .participant-info p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.participant-item .content .details {
  padding: 0.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participant-item .content .details img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: filter 0.5s;
}

.participant-item .content .details img:hover {
  filter: brightness(0.75);
}

@media only screen and (max-width: 500px) {
  .participant-item {
    min-width: 95%;
  }
}
