div.select-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

div.select-group label {
  width: 60%;
}

div.select-group select {
  width: 100%;
  outline: none;
  padding: 0.42rem 0.3rem;
  background-color: var(--secondary-color);
  transition: border 0.5s;
}
