div.register-modal {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

div.register-modal div.modal-content {
  position: relative;
  min-width: 35%;
  background-color: white;
  padding: 1.2rem;
  border-radius: 0.8rem;

  text-align: center;
  z-index: 1;
}

div.register-modal div.modal-content button {
  text-transform: uppercase;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1rem;
  border: 0.15rem solid var(--secondary-color);
}

img.close-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
}

img.close-icon:hover {
  filter: brightness(0.9);
}

div.register-modal div.modal-header h2 {
  font-size: 1.6rem;
  margin: 1rem 0rem;
  margin-bottom: 5rem;
  z-index: 1;
}

div.modal-body {
  width: 100%;
  z-index: 1;

  display: flex;
}
