.search-details-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50vw;
  margin: 2rem auto;
  background-color: var(--secondary-color);
}

.search-details-modal div.go-back {
  width: 30%;
  margin-left: auto;
}

.search-details-modal header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-details-modal header img {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.search-details-modal header .description {
  padding: 1rem;
  text-align: left;
}

.search-details-modal header .description h2 {
  font-size: 2.2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.search-details-modal header .description span {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 400;
}

.search-details-modal .modal-body {
  display: flex;
  flex-wrap: wrap;
}

.search-details-modal .researcher-details {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.8rem;
  border-radius: 1rem;
}

.search-details-modal .researcher-details h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--text-secondary-color);
  font-weight: bold;
  margin-bottom: 2rem;
}

.researcher-details p {
  text-align: justify;
  font-size: 1.2rem;
  color: var(--text-secondary-color);
  margin-bottom: 1.6rem;
}

.search-details {
  border-radius: 1rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-details .search-info {
  width: 8rem;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-details .search-info .circle {
  background-color: var(--primary-color);
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 100%;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-details .search-info .circle h2 {
  font-size: 2rem;
  color: var(--text-secondary-color);
}

.search-details .search-info span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

@media only screen and (max-width: 950px) {
  .search-details-modal {
    width: 65%;
  }

  .search-details,
  .researcher-details {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .search-details-modal header .description h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .search-details-modal {
    width: 95%;
  }
}
