div.search-item {
  width: 45%;
  background-color: var(--primary-color);
  margin: 0.8rem 0;

  border: 0.3rem solid var(--text-secondary-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

div.search-item header {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--text-secondary-color);
}

div.search-item header img {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid var(--text-secondary-color);
  border-radius: 100%;
}

div.search-item header div.description h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

div.search-item header div.description span {
  font-size: 1rem;
}

div.search-item header div.description {
  margin-left: 0.5rem;
  color: var(--primary-color);
}

div.search-item div.content {
  display: flex;
}

div.search-item div.researcher-info {
  width: 75%;
  padding: 0.8rem;

  color: var(--text-secondary-color);

  text-align: left;
}

div.search-item div.researcher-info p {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

div.search-item div.content div.details {
  display: flex;

  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  div.search-item {
    width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  div.search-item {
    width: 95%;
  }
}
