.question-form {
  padding: 1rem;
}

.question-form .configurations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#show {
  display: block;
}

#hidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  .question-form {
    padding: 0.5rem;
  }
}
