.alternative {
  margin: 1rem 0;
  border: 0.5rem solid var(--primary-color);

  border-radius: 0.5rem;
}

.alternative .alternative-header {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  display: flex;

  justify-content: space-between;
}

.alternative .alternative-header h3 {
  width: 60%;
  font-size: 1.6rem;
  font-weight: bold;
}

.alternative .alternative-header button {
  width: 20%;
  border: 0.2rem solid var(--secondary-color);
}

.alternative-group,
.group {
  padding: 1rem;
}

.alternative-group {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

@media only screen and (max-width: 1100px) {
  .alternative .alternative-header {
    padding: 0.5rem;
    align-items: center;
  }

  .alternative-group {
    display: block;
  }

  .alternative .alternative-header h3 {
    width: 70%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .alternative .alternative-header button {
    width: 40%;
    font-size: 1rem;
    border: 0.2rem solid var(--secondary-color);
    margin-bottom: 0;
  }

  .alternative-group,
  .group {
    padding: 0.5rem;
  }
}
