nav {
  height: 3rem;
  min-width: 100vw;
  background-color: var(--text-secondary-color);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  height: 3rem;
  width: 12%;
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 550;

  cursor: pointer;
  transition: all 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
}

@media only screen and (max-width: 900px) {
  nav,
  nav a {
    height: 3rem;
  }

  nav a {
    width: 34%;
  }
}
