button.circle {
  position: relative;
  text-transform: uppercase;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 100%;
  width: 80%;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.5s;
  border: 0.15rem solid var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.8px;
}

button.circle:hover {
  background-color: var(--primary-color-hover);
}
