button.navigation {
  position: relative;
  text-transform: uppercase;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 45%;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1.5px solid var(--secondary-color);
}

button.navigation + button.navigation {
  margin-left: 2%;
}

button.navigation:hover {
  background-color: var(--primary-color-hover);
}
