.search-config {
  padding: 1rem 0.5rem;
  width: 50vw;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--secondary-color);
  margin: 1rem auto 3rem auto;
}

.search-config header {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.search-config header h2 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  text-align: justify;
}

.search-config form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-wrap: wrap;
}

.search-config form .first-form-group {
  width: 100%;
}

.mts-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.search-questions {
  padding: 1rem 0.5rem;
  width: 60vw;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--secondary-color);
  margin: 1rem 0;
}

.search-questions header {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.search-questions header h2 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  text-align: justify;
}

.search-questions .questions-content {
  width: 100%;

  display: grid;
  grid-template-columns: 25% 75%;
}

.questions-content .question-menu {
  background-color: var(--primary-color);

  height: 100%;
}

.question-menu,
.question-form,
.question-preview {
  border-top: 0.4rem solid var(--primary-color);
  border-left: 0.2rem solid var(--primary-color);
  border-right: 0.2rem solid var(--primary-color);
  border-bottom: 0.4rem solid var(--primary-color);
}

.question-menu button {
  width: 100%;
  padding: 1rem 0.2rem;
  font-size: 1rem;
  border: 0.2rem solid var(--secondary-color);
}
uestions-content .question-preview {
  background-color: black;
}

.question-form button:hover,
.question-menu button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media only screen and (max-width: 1100px) {
  .search-questions {
    border-radius: 0;
    margin-top: 5rem;
    width: 80vw;
  }
}

@media only screen and (max-width: 900px) {
  .search-config {
    width: 100vw;
    border-radius: 0;
    margin: 0;
  }

  .search-config header h2 {
    text-align: left;
    font-size: 1.6rem;
  }

  div.mts-group {
    display: block;
  }

  .question-menu button {
    width: 100%;
    font-size: 0.8rem;
    border: 0.2rem solid var(--secondary-color);
  }

  .search-questions .questions-content {
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
  }

  .search-questions {
    border-radius: 0;
    margin-top: 5rem;
    width: 100vw;
  }
}

@media only screen and (max-width: 450px) {
  .search-config header h2 {
    text-align: center;
  }
  .search-config {
    width: 100vw;
    border-radius: 0;
    margin: 0;
  }
}
