.search-config {
  padding: 0.4rem;
  width: 50vw;
  background-color: var(--secondary-color);

  border: 0.1rem solid var(--secondary-color);
  margin: 1rem auto 3rem auto;
}

.search-config header {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.search-config header h2 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  text-align: justify;
}

.search-config form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-wrap: wrap;
}

.search-config form button {
  position: relative;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  padding: 0.6rem;
  border-radius: 0.2rem;
  width: 100%;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-config form button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.search-config form .first-form-group {
  width: 100%;
}

.mts-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.search-questions {
  padding: 0.4rem;
  width: 65vw;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
  margin: 1rem auto;
}

.search-questions header {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.search-questions header h2 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  text-align: justify;
}

.search-questions .questions-content {
  width: 100%;

  display: grid;
  grid-template-columns: 25% 75%;
}

.questions-content {
  border: 0.2rem solid var(--primary-color);
}

.question-menu {
  padding: 0.2rem;
}

.questions-content .question-menu {
  background-color: var(--primary-color);

  height: 100%;
}

.question-menu button {
  width: 100%;
  padding: 1rem 0.2rem;
  font-size: 1rem;
  border: 0.1rem solid var(--secondary-color);
}

.question-menu button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media only screen and (max-width: 900px) {
  .search-questions {
    border-radius: 0;
    margin-top: 5rem;
    width: 85vw;
  }
}

@media only screen and (max-width: 600px) {
  .search-config {
    width: 100vw;
    border-radius: 0;
    margin-top: 3rem;
  }

  .search-config header h2 {
    text-align: left;
    font-size: 1.6rem;
  }

  div.mts-group {
    display: block;
  }

  .question-menu {
    width: 100%;
  }

  .question-menu button {
    width: 100%;
    font-size: 0.8rem;
  }

  .search-questions .questions-content {
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
  }

  .search-questions {
    border-radius: 0;
    margin-top: 3rem;
    width: 100vw;
  }
}
