.upload-group label {
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--secondary-color);
  border: 0.25rem solid var(--shadow-color);
  border-radius: 0.5rem;
  width: 100%;
  margin: 0 auto 2rem auto;
  display: block;
  padding: 12rem 4rem;
  text-align: center;
}

.upload-group input {
  display: none;
}

@media only screen and (max-width: 900px) {
  .upload-group label {
    padding: 12rem 2rem;
  }
}
