div.pendent-search-content {
  margin: 0 auto 0 1rem;
  padding: 0.5rem;
}

div.pendent-search-content div.info {
  color: var(--secondary-color);
  width: 75%;
  margin-right: 1rem;
}

div.pendent-search-content div.info p {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 700px) {
  div.pendent-search-content div.info {
    width: 65%;
  }
}
