div.register-container {
  border: 1.5px solid var(--secondary-color);
  width: 75%;
  margin: 1rem auto 0 auto;
  display: grid;
}

div.register-container header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

div.register-container header h2 {
  color: var(--text-secondary-color);
  font-size: 2rem;
}

div.register-container header .go-back {
  width: 30%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

div.register-container header .go-back button {

  text-transform: uppercase;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1rem;
  border: 0.15rem solid var(--secondary-color);
}

div.register-container header .go-back button:hover {
  background-color: var(--primary-color-hover);
}

div.register-container form {
  background-color: var(--secondary-color);

  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "first second" "submit submit";
}

form div.first-form-group {
  margin-top: 0.5rem;
  grid-area: first;
  padding: 0.2rem 0.4rem;
}

.form-select-group {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
}

form div.second-form-group {
  margin-top: 0.5rem;
  grid-area: second;
  padding: 0.2rem 0.4rem;
}

form div.submit {
  grid-area: submit;
  display: flex;
  align-items: center;
}

form div.participant-submit {
  padding: 0.1rem 0.4rem;
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 1025px) {
  div.register-container {
    margin: 1rem 0;
    min-width: 40rem;
  }

  div.register-container form {
    background-color: var(--secondary-color);
    display: block;
  }

  div.register-container form div.first-form-group {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 450px) {
  div.register-container {
    margin-top: 0;
    min-width: 100% !important;
  }

  div.register-container header .go-back {
    width: 50%;
  }

  .form-select-group {
    gap: 0;
    grid-template-columns: 1fr;
  }
}
