div.register-container {
  border: 1.5px solid var(--secondary-color);
  width: 60rem;
  margin-top: 1rem;
  display: grid;
}

div.register-container header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

div.register-container header h2 {
  color: var(--text-secondary-color);
  font-size: 2rem;
}

div.register-container header .go-back {
  width: 50%;
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
}

div.register-container form {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "first second" "submit submit";
}

form div.first-form-group {
  margin-top: 0.5rem;
  grid-area: first;
  padding: 0.2rem 0.4rem;
}

.form-select-group {
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
}

form div.second-form-group {
  margin-top: 0.5rem;
  grid-area: second;
  padding: 0.2rem 0.4rem;
}

form div.submit {
  grid-area: submit;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
}

/* @media (min-width: 750px) {
  div.register-container {
    margin-top: 2rem;
    width: 30rem;
  }

  div.register-container form {
    background-color: var(--secondary-color);
    display: block;
  }

  button.submit {
    width: 100%;
  }

  button.navigation {
    width: 75%;
  }
} */
