:root {
  --primary-color: #2172bd;
  --primary-color-hover: #43a2fa;
  --text-primary-color: rgba(0, 0, 0, 0.55);
  --text-secondary-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2 {
  margin: 0;
  font-family: "Rasa", serif;
  font-weight: bold;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;
}

input,
p,
span {
  font-weight: 500;
}

button {
  outline: none;
  border: 0;
}

button,
label {
  font-family: "Rasa", serif;
  font-weight: 500;
}
