:root {
  --primary-color: #4272eb;
  --primary-color-hover: #43a2fa;
  --text-primary-color: rgba(0, 0, 0, 0.75);
  --text-error-color: #f12531;
  --text-correct-color: #24f452;
  --text-secondary-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --secondary-color: #ffffff;

  font-size: 110%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2 {
  margin: 0;
  font-family: "Rasa", serif;
  font-weight: bold;
}

html,
body {
  background-color: var(--primary-color);
}

button {
  font-family: "Roboto", sans-serif;
  color: var(--text-secondary-color);
  background-color: var(--primary-color);
  outline: none;
  border: 0;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-primary-color);
  margin-bottom: 0.4rem;
  cursor: pointer;
}

textarea,
select,
input {
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 0.15rem solid var(--shadow-color);
  font-weight: 500;
}

span {
  font-size: 1rem;
}

span,
label {
  font-family: "Rasa", serif;
  font-weight: 500;
}

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 95%;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    font-size: 90%;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 80%;
  }

}

@media only screen and (max-width: 450px) {
  :root {
    font-size: 75%;
  }
  
  body {
    display: block;
  }
}
