:root {
  --primary-color: #2460f9;
  --text-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --secondary-color: #white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;
}

input,
p,
span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

button,
label {
  font-family: "Rasa", serif;
  font-weight: 500;
}
