ul.pagination {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.5rem 0;
}

ul.pagination li {
  list-style: none;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;

  width: 2.5rem;
  height: 2.5rem;

  margin: 0.1rem 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.5s;

  border-radius: 0.2rem;
  border: 0.1rem solid var(--secondary-color);
}

.active {
  border: 0.1rem solid var(--primary-color);
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

ul.pagination li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
}

@media only screen and (max-width: 450px) {
  ul.pagination {
    margin: 0.5rem 0;
  }
}
